<div class="boxed">
	<ul class="list">
		<li class="item item-toggle" ng-click="togglePins()">
			<i class='ion-camera'></i>
			<label class="toggle">
			<input type="checkbox" ng-model="toggle.photo">
			<div class="track">
				<div class="handle"></div>
			</div>
			</label>
		</li>
		<li class="item item-toggle" ng-click="togglePins()">
			<i class='ion-videocamera'></i>
			<label class="toggle">
			<input type="checkbox" ng-model="toggle.video">
			<div class="track">
				<div class="handle"></div>
			</div>
			</label>
		</li>
		<li class="item item-toggle" ng-click="togglePins()">
			<i class='ion-earth'></i>
			<label class="toggle">
			<input type="checkbox" ng-model="toggle.location">
			<div class="track">
				<div class="handle"></div>
			</div>
			</label>
		</li>
	</ul>
</div>
<div id="map" data-tap-disabled="true"></div>
