<ion-view title="{{group.name}}">
  <ion-nav-buttons side='secondary'>
    <button id="navButton" class='button' ui-sref="tab.single-group({groupCode: groupCode})">
      <i class='ion-gear-a'></i>
    </button>
  </ion-nav-buttons>
  <div class="bar bar-header bar-light navigator">
    <div class="button-bar">
      <a class="button" ng-class="{'tab-active': view == 'chat'}" ng-click='toggleView("chat")'>Chat</a>
      <a class="button" ng-class="{'tab-active': view == 'media'}" ng-click='toggleView("media")'>Media</a>
      <a class="button" ng-class="{'tab-active': view == 'map'}" ng-click='toggleView("map")'>Map</a>
    </div>
  </div>

  <ion-content>
  <div class="groupContent">
    <chat ng-if ='view == "chat"' members="members" media-objects="mediaObjects" group-code="groupCode"></chat>
    <media ng-if ='view == "media"' members='members' media-objects="mediaObjects" group-code="groupCode"></media>
    <map ng-if='view == "map"'></map>
  </div>
  </ion-content>
  <ion-footer-bar align-title="left" ng-if='view == "chat"'>
    <div class="item item-input-inset" id="chatbox">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Chat" ng-model='newMessage.body'>
      </label>
      <button class="button button-small" ng-click="createNewMessage()">
        Send
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
