<ion-view title="{{group.name}}">
  <ion-nav-buttons side='secondary'>
    <button class='button' ui-sref="tab.single-group({groupCode: groupCode})">
      <i class='ion-gear-a'></i>
    </button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="false" class="moments">
    <div ng-repeat="mediaObj in mediaObjects">
      <img src ="{{mediaObj.mediaUrl}}" width='153' height='204' ng-if="mediaObj.mediaType == 'photo'">
      <video width="320" height="240" controls ng-if="mediaObj.mediaType == 'video'">
        <source ng-src="{{mediaObj.mediaUrl | trusted}}">
      </video>
      <p ng-if="mediaObj.mediaType == 'message'">{{ mediaObj.body }}</p>
    </div>

  
  <!-- Chat Input Box -->
  <div class="item item-input-inset" id="chatbox">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Chat" ng-model='newMessage.body'>
    </label>
    <button class="button button-small" ng-click="createNewMessage()">
      Send
    </button>
  </div>

  </ion-content>
<!--   <ion-footer-bar align-title="left" class="bar-assertive">
    <div class="buttons">
      <button class="button" ui-sref="tab.map">Map</button>
    </div>
  </ion-footer-bar> -->
</ion-view>
