<ion-view title="Login">
  <ion-content has-header="true" padding="true">
    <h3>Login</h3>
    <form name="loginForm" ng-submit="login(userInfo)">

      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" ng-model="userInfo.email" class="item item-input form-control" placeholder="Your Email" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" ng-model="userInfo.password" class="item item-input form-control" placeholder="Your Password" required>
        </label>
      </div>

      <button ng-disabled="loginForm.$invalid" type="submit" class="button button-positive" id="submitbtn">Login</button>

      <p ng-if="error">Error: <strong>{{ error }}</strong></p>

    </form>
    <h6 ui-sref="tab.signup" class="pointer">Create an Account</h6>

  </ion-content>
</ion-view>
