<ion-modal-view class="group-modal">
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content>

    <div class="create-group-div">
      <h3>Create new group!</h3>
      <form name="groupForm" ng-submit="createGroup(groupInfo)">

          <label class="item item-input">
            <span class="input-label">Enter Group Name:</span>
            <input type="text" ng-model="groupInfo.name" class="item item-input form-control" id="groupName" required>
          </label>
        <button ng-disabled="groupForm.$invalid" type="submit" class="button button-positive" id="submitbtn">Create</button>
      </form>
    </div>

    <div class="join-group-div">
      <h3>Join an existing group!</h3>
      <form ng-submit="joinGroup(groupCode)">
        <label class="item item-input">
          <span class="input-label">Enter Group Code:</span>
          <input type="text" ng-model="groupCode">
        </label>
        <button type="submit" class="button button-positive">Join</button>
      </form>
    </div>

  </ion-content>
</ion-modal-view>
