<ion-view title="My Groups">
  <ion-nav-buttons side='secondary'>
  <button class='button' ng-click='modal.show()'>
    <i class='icon ion-ios-plus-outline'></i>
  </button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="false" class="group-list">

  <div class="list" ng-hide="groups">
    <li class="item">
      <p>You are currently not in any group!</p>
    </li>
  </div>
	<div ng-repeat="group in groups | orderBy: '-lastMessage.timeStamp'" class="list" id='groupList'>
	    <a class="item item-thumbnail-left" ui-sref="tab.groupFeed({groupCode: group.groupCode})">
	      <img ng-src="{{group.mediaUrl}}">
	      <h2>{{group.name}}<span>{{ group.lastMessage.timeStamp }}</span></h2>
	      <p>{{ group.lastMessage.message }}</p>
	    </a>
	</div>
  </ion-content>
</ion-view>
