<ion-view title="{{group.name}}">
  <ion-content has-header="true" padding="false" class="profile-div">
    <img src="{{ group.mediaUrl }}">
    <ul class="list">
      <a class="item item-icon-left" ng-click="takeImage(group.groupCode)">
        <i class="icon ion-camera"></i>
        Change Group Photo
      </a>
      <div ui-sref="tab.group-members({groupCode: group.groupCode})">
        <li class="item item-icon-left">
          <i class="icon ion-ios-people"></i>
          <div>{{getMembersCount(group.members)}}</div>
        </li>
      </div>
      <li class="item item-icon-left item-icon-right">
        <i class="icon ion-happy"></i>
        <form name="groupNameForm" >
          <input type="text" name="group-name" value="{{group.name}}" align="right" ng-model="newGroup.name" ng-blur="submit.groupName(groupNameForm)">
          </input>
        </form>
      </li>
      <div>
        <li class="item item-icon-left">
          <i class="icon ion-lock-combination"></i>
          <div>{{group.groupCode}}</div>
        </li>
      </div>
    </ul>
    <button ng-click="leaveGroup()" class="button button-full button-assertive" ng-show="membersLength(group.members)">Leave Group</button>
    <button ng-click="endGroup(group.members)" class="button button-full button-assertive">End Group</button>
  </ion-content>
</ion-view>
