<ion-view title="Groups">
  <ion-content has-header="true" padding="false" class="moments">
	   <div class="list" ng-show="groups.length === 0">
	     <li class="item">
	      <p>You are currently not in any groups!</p>
	     </li>
	   </div>
	<ion-list>
	  <ion-checkbox class="item-checkbox-right" ng-repeat="group in groups" ng-click='toggleGroup(group.groupCode)' ng-model="groupFilter.group">{{ group.name }}</ion-checkbox>
	</ion-list>
	<button class="button button-assertive" ng-click="cancel()">Cancel</button>
	<ion-footer-bar align-title='left' class='bar-assertive'>
		<div class='buttons'>
		    <button class='button' ng-click="sendToGroups()">
		      <i class='icon ion-android-send'></i>
		    </button>
		</div>
	</ion-footer-bar>
  </ion-content>
</ion-view>
