<ion-view title="Create Group">
  <ion-content has-header="true" padding="true">
    <h3>Create new group!</h3>
    <form name="groupForm" ng-submit="createGroup(group)">
      <alert type="danger" ng-show="error">
          {{ error }}
      </alert>
      <div class="form-group">
          <label for="groupName">Group Name</label>
          <input type="text" ng-model="group.name" class="item item-input form-control" id="groupName" placeholder="Pick a Group Name" required>
      </div>
      <div class="form-group">
          <label for="displayName">Your Display Name</label>
          <input type="text" ng-model="group.displayName" class="item item-input form-control" id="displayName" placeholder="Choose Your Display Name" required>
      </div>
      <button ng-disabled="groupForm.$invalid" type="submit" class="btn btn-default" id="submitbtn">Create Group</button>
    </form>
  </ion-content>

</ion-view>
